.spc-tabs-control {
    border-bottom: 2px solid #E0E0E0;
    width: 100%;
    justify-content: center;
    font-size: 14px;
}

.spc-tabs-control.active-tab {
    border-bottom: 2px solid #327BB5;
    color: #327BB5;
    border-top: none;
}

.spc-tabs-control:hover {
    border-bottom: 2px solid #327BB5;
    color: #327BB5;
}

.spc-tabs-control:focus {
    box-shadow: none;
}

.spc-editor-alignment-group-wrapper .spc-editor-alignment-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.spc-editor-alignment-group-wrapper .spc-editor-alignment-group button {
    color: #50575E;
    box-shadow: inset 0 0 0 1px #e6e7e9;
    padding: 3px;
    font-size: 13px;
    font-weight: 400;
    width: 100%;
    justify-content: center;
    height: unset;
    line-height: 16px;
    min-height: 30px;
}

.spc-editor-alignment-group-wrapper .spc-editor-alignment-group button:first-child {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.spc-editor-alignment-group-wrapper .spc-editor-alignment-group button:last-child {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.spc-editor-alignment-group-wrapper .spc-editor-alignment-group .components-button+.components-button {
    margin-left: -1px;
}

.spc-editor-alignment-group-wrapper .spc-editor-alignment-group .components-button.is-primary {
    background: #000;
    color: #fff;
}

.spc-editor-alignment-group-wrapper .spc-editor-alignment-group .components-button:focus {
    outline: none !important;
}

.spc-editor-alignment-group-wrapper .spc-editor-alignment-group .components-button:focus:not(:disabled) {
    box-shadow: inset 0 0 0 1px #e6e7e9;
}

.spc-heading-tag-field {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 1px solid #e0e0e0;
}

.spc-heading-tag-field .spc-heading-tag-field-button {
    font-size: 11px;
    color: #000000;
    padding: 7px;
    box-shadow: none;
    margin-left: 0 !important;

}

.spc-heading-tag-field-button:not(:last-child) {
    border-right: 1px solid #e0e0e0;
}

.spc-heading-tag-field-button[aria-pressed="true"] {
    background: #000000;
    color: #ffffff;
}

.components-button-group .components-button:first-child {
    border-radius: 2px 0 0 2px;
}

.components-button-group .components-button:last-child {
    border-radius: 0 2px 2px 0;
}

.spc-select-control-wrapper {
    align-items: center !important;
    flex-direction: row !important;
    gap: 25px;

}

.spc-select-control-wrapper>.components-input-control__container {
    max-width: 126px;
}

.spc-select-control-wrapper>.components-input-control__container>.components-select-control__input {
    height: 40px !important;
    line-height: 1.3 !important;
}

.spc-select-control-wrapper>.components-input-control__container>.components-input-control__backdrop {
    border: 1px solid #E0E0E0 !important;
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}


.spc-inspect-tabs .components-tab-panel__tabs {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: none;
}

.spc-inspect-tabs .components-tab-panel__tabs .spc-tabs-control {
    border-bottom: 2px solid #E0E0E0;
    width: 100%;
    justify-content: center;
    font-size: 14px;
}

.spc-inspect-tabs .components-tab-panel__tabs .spc-tabs-control.active-tab {
    border-bottom: 2px solid #327BB5;
    color: #327BB5;
    border-top: none;
}

.spc-inspect-tabs .components-tab-panel__tabs .spc-tabs-control:hover {
    border-bottom: 2px solid #327BB5;
    color: #327BB5;
}

.spc-inspect-tabs .components-tab-panel__tabs .spc-tabs-control:focus {
    box-shadow: none;
}

.components-base-control.spc-range-control {
    width: 100%;
}

.spc-toolbar-prebuilt-button.spc-prebuilt {
    margin-left: 8px;
}

.components-base-control {
    width: 100%;
}

.components-panel__body .components-range-control.spc-range-control-wrapper .components-base-control__field,
.components-panel__body .spc-measure-control.spc-measure-sides-control .components-base-control__field {
    padding: 0;
}

/* .spc-measure-control .measure-input-left .measure-inputs .components-base-control__field > .components-text-control__input {
    border
} */

.spc-inspect-tabs .spc-responsive-measure-control .components-button-group.spc-measure-responsive-options {
    margin-bottom: 0;
}

.spc-reset-btn {
    color: #327BB5;
    padding: 11px;
    font-size: 13px;
    border: 1px solid #9BBDD8;
    background: #EEF6FD;
    border-radius: 3px;
    height: unset;
    box-shadow: none;
    line-height: 1;
    transition: all 0.3s ease;
    margin-left: 8px;
    height: 30px;
    min-height: 30px;
}